<!-- Full container template -->
<script id="TemplateFull" type="x-jquery-tmpl">
    <table id="search-results-table" summary="Στοιχεία για το νομικό πρόσωπο με Α.Φ.Μ ${afm}">
    <caption>Αποτελέσματα Αναζήτησης</caption>
        <thead>
            <tr class="odd">
                <th scope="col" class="rounded-first" colspan="2" style="color: #039;background: #b9c9fe;">Α.Φ.Μ ${afm}</th>
            </tr>
        </thead>

        <tbody> 
                <tr>
                <th scope="row" class="column1">Ονομασία</th>
                <td>${onomasia}</td>
                </tr>
                 {{if commerTitle}}
                <tr class="odd">
                <th scope="row" class="column1">Εμπορικός Τίτλος</th>
                <td>${commerTitle}</td>
                </tr>
                 {{/if}}
                <tr>
                <th scope="row" class="column1">Δραστηριότητα</th>
                <td>${actLongDescr} (${facActivity})</td>
                </tr>
                 <tr>
                <th scope="odd" class="column1">Τύπος</th>
                <td>${INiFlagDescr} 
                 {{if legalStatusDescr}}
                    ${legalStatusDescr}
                    {{else}}
                      (${firmFlagDescr})
                  {{/if}}

                </td>
                </tr>
                {{if legalStatusDescr}}
                    <tr class="odd">
                    <th scope="row" class="column1">Αριθμός Υποκαταστημάτων</th>
                    <td>${countOfBranches}</td>
                    </tr>
                {{/if}}

                 <tr>
                <th scope="row" class="column1">Κατάσταση</th>
                <td>${deactivationFlagDescr}  {{if assTxpActualAfm}} (Αντικατάσταση από ενεργό  ΑΦΜ:${assTxpActualAfm}) {{/if}} </td>
                </tr>
                
                <tr class="odd">
                <th scope="row" class="column1">Δ.Ο.Υ</th>
                <td>${doyDescr} (${doy} )</td>
                </tr>
                <tr>
                <th scope="row" class="column1">Διεύθυνση</th>
                <td>${parDescription} - ${postalAddress} ${postalAddressNo}  , Τ.Κ ${postalZipCode}</td>
                </tr>
                <tr>
                <th scope="row" class="column1">Επικοινωνία</th>
                <td>Τηλ: ${firmPhone} - , Fax: ${firmFax}</td>
                </tr>
                <tr>
                <th scope="row" class="column1">Ημερομηνία Εναρξης</th>
                <td>${registDate}</td>
                </tr>
                <tr>
                <th scope="row" class="column1">Ημερομηνία Διακοπής</th>
                <td>${stopDate}</td>
                </tr>
        
        </tbody>
    </table>
  
</script>
